.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    display: flex;
    background-color: #F2F2F2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}


.header__logo_place_header {
    width: 183px;
    height: 32px;
    background-image: url(../images/logo.svg);
    position: absolute;
    left: 64px;
    top: 30px;
}


.header__title {
    width: 730px;
    line-height: 96px;
    font-weight: bold;
    position: absolute;
    left: 64px;
    align-self: center;
    font-size: 102px;
}


.header__subtitle {
    width: 388px;
    line-height: 25px;
    position: absolute;
    left: 64px;
    bottom: 30px;
}


.header__main-illustration {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url(../images/two_again.png);
    width: 765px;
    height: 608px;
    background-size: cover;
    z-index: 1;
}


.header__square-pic {
    background-color: #2F80ED;
    position: absolute;
    right: 0px;
    top: 64px;
}


.two-columns {
    width: 80%;
    margin: 100px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.two-columns__brief {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    width: 175px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.two-columns__main-text {
    min-width: 784px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 30px 0;
}


.two-columns__paragraph:last-of-type {
    margin-bottom: 0;
}


.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}


.section-title {
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin: 100px auto 0;
    text-align: center;
}


.section-subtitle {
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 20px auto 0px auto;
    text-align: center;
}


.table {
    width: 1100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}


.table__cell {
    width: 250px;
    margin-top: 60px;
    
}


.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
}


.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 20px;
}


.feinman {
    position: relative;
    height: 790px;
}


.feinman__title {
    width: 648px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
    position: relative;
}


.feinman__main-illustration {
    background-image: url(../images/feinman.png);
    width: 867px;
    height: 637px;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    left: 0px;
}


.feinman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    position: relative;
    z-index: 1;
}


.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: black;
    text-decoration: none;
}


.kaufman {
    background-color: #1f1f1f;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}


.section-title_theme_dark {
    margin: 90px auto 0px;
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: white;
}


.section-subtitle_theme_dark {
    margin: 20px auto 0px;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: white;
}


.table_theme_dark {
    width: 1100px;
    margin: 0 auto 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
}


.table__cell_theme_dark {
    width: 200px;
    margin-top: 80px;
}


.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
}


.table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
}


.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0px;
    right: -210px;
   background-image: url(../images/triangle.svg);
   background-size: cover
 
}


.footer {
    min-height: 350px;
    background-color: #1F1F1F;
    display: flex;
    margin: 0;
}


.footer__columns {
    width: 90%;
    margin: 60px auto 40px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}


.footer__columns_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.logo_place_footer {
    background-image: url(../images/logo_white.svg);
    width: 183px;
    height: 35px;
}


.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 18px 0;
    color: white;
}


.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 0;
}


.footer__column-links {
    margin-bottom: 16px;
    padding: 0;
    list-style: none;
}   


.link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
}


.footer__social-icon {
    margin-right: 10px;
    height: 16px;
    width: 16px;
}